body {
  background-color: black;
}

.button-styling button {
  height: 50px;
  margin-right: 15px;
  width: 100px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: mediumvioletred;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(42, 40, 40);
  margin-top: 50px;
}

.button-styling button:hover {
  color: red;
}
